.navbar {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.navbar .navbar-heading a{
    text-decoration: none;
}

.navbar .navbar-tabs a{
    padding-left: 36px;
     text-decoration: none;
}