@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Lora:ital@1&display=swap');

.App{
  width: 100vw;
  height: 100vh;
  font-family: 'Dongle', sans-serif;
  font-family: 'Lora', serif;
}

body{
  margin: 0;
  box-sizing: border-box;
  padding: 0;

}


